.cpp-properties-panel {
  border: solid 2px #CCC;
}

.cpp-properties-group {
  margin: 10px;
}

.cpp-properties-entry {
  margin-bottom: 15px;
}

.cpp-properties-entry input.invalid,
.cpp-properties-entry textarea.invalid,
.cpp-properties-entry [contenteditable].invalid {
  border-color: red;
  background: rgb(255, 209, 209);
}

.cpp-properties-entry [data-invalid] {
  color: red;
}

.cpp-hidden {
  display: none;
}

.cpp-properties-combo-options {

}

.cpp-properties-combo-options-empty {
}

.cpp-listener-area {
    border: 1px solid #ccc;
    padding: 0.5em;
    margin: 1em 2px;
}

.cpp-listener-area > h1 {
    margin: -1em -0.5em 0;
}

.cpp-properties-static {
  margin-bottom: 0px;
  margin-top:0px;
  border: 1px solid #ccc;
  background-color: white;
  padding: 1px 0px;
  font: 13.3333px Arial;
  width: 14%;
}
